.left-container{
    display: flex !important;
    justify-content: flex-start !important;
    text-align: start !important;
}

@media (max-width: 768px){
    .hero-left,
    .left-container{
        text-align: center !important;
    }
    .hero-header,
    .hero-desc{
        width: 100% !important;
    }
    .hero-container{
        margin-top: 80px !important;
        padding: 0 16px !important;
    }
    .navbar-container{
        padding: 8px 16px !important;
    }
    .form-card{
        padding: 16px 24px !important;
    }
    .ao-section{
        padding: 32px 16px !important;
    }
    .faq-section,
    .footer{
        padding: 32px 16px !important;
    }
    .form-container{
        min-height: 520px !important;
        align-items: flex-start !important;
    }
}